


h2,h6{
    font-weight: 420;
    opacity: 0.9;
}
p{
    font-family: Product Sans,Roboto,arial,sans-serif;;
    font-size: 17px;
    font-weight: 200;
    color: #77838f;
    margin-bottom: 5px;
}
a:hover{
    color: white;
    text-decoration: none;
}
section{

    width: 100%;
    position: relative;
    
}
label{
    color: black;
}

/* ..............................Slider section .........................*/
.feature{


    overflow: hidden;
    z-index: -10;
    position: absolute;
    background-color:black;
    width: 100%;

}

.feature a{
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.carousel-inner img{
    background-size: cover;
    
}

.form-field{
    background-color: rgba(255, 255, 255, 0.534);
    padding: 10px 20px;
    border-radius: 10px;
    box-shadow: 1px 2px 20px 1px rgb(10, 10, 10,0.6);
    position: fixed;
    z-index: 5;
    right: 2%;
    top: 100px;
    width: 25%;
    border-top: #105c7d 5px solid; 
    border-bottom: #105c7d 5px solid; 
}
.formMobile{
    display: none;
}
.section-feature h2{
    color: white;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.767);
    font-weight: 400 !important;
    opacity: 0.9;
    
}
.section-feature h1{
    color: #ffed00;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.767);
}
.section-feature{
    min-height: 86vh;
    width: 100%;
    padding-top: 15vh;
    padding-bottom: 10vh;
}


.btn-slider{
    width: auto;
    height: auto;
    color: white;
    cursor: pointer;
    padding: 15px 30px;
    transition: ease-in-out 300ms;
}
.btn-slider:hover{
    background-color: rgba(255, 255, 255, 0.877);
    transition: ease-in-out 300ms;
    color: black;
   
}
.btn-slider a:hover{
    color: black;
}
/* .......................................  About Section ........................... */
.about-section{
    padding-top: 30px;
    padding-left: 40px;
    background-color: #105c7d;
    
}
.about-section h2{
    font-size: 1.75rem;
    line-height: 1.5;
    font-weight: 700;
    margin: 0;
    width: 100%;
    font-size: 35px;
}

/* ..............................Service section .........................*/
    .service-section{
        padding-top: 80px;
        
    }
    .service-section h2{
        font-size: 1.75rem;
        line-height: 1.5;
        font-weight: 700;
        margin: 0;
        width: 100%;
        font-size: 35px;
    }
    .service-header{
        padding-left: 10%;
    }
  .price-box{
      width: 250px;
      height: 500px;
      text-align: center;
     border-top: #105c7d  10px solid;
      background-color: white;
      position: relative;
      box-shadow: 0px 0px 5px rgb(20, 20, 20,0.3);
      padding: 0px 15px;
      margin: 80px auto 30px auto; 

  }
  .price-box-icon{
      width: 80px;
      height: 80px;
      border-radius: 40px;
      border:5px rgb(202, 202, 202) solid;
      position: absolute;
      top: -40px;
      left: 80px;
      overflow: hidden;
  }
  .section-price{
     
      display: flex;
      flex-wrap: wrap;

  }
  .price-content{
      padding-top: 50px;
     
  }


 /* ...........................................perfection-section.........................*/
 .perfection-section h2{
    font-size: 1.75rem;
    line-height: 1.5;
    font-weight: 700;
    margin: 0;
    width: 100%;
    font-size: 35px;
 }
 .perfection-section{
     width: 100%;
     height: auto;
     
 }
 .perfe-section{
    background-color: white;
    text-align: center;
 
}
 .section-oneSide {
    margin: 0px;
    padding: 10px 0px;
    align-items: center;
    background-color: white;
    min-height: 70vh;
    padding: 30px;
 }

 .perImg{
     background-image: url('../images/pre.png');
     background-attachment: fixed;
     overflow: hidden;
     background-repeat: no-repeat;
     background-size: auto 600px;
     background-position: top;
     background-size: cover;
     
    
 }
 /* .....................................why Section ......................*/
 .why-section{
    background-color: white;
     padding:30px 35px;
     justify-content: center;
     align-items: center;
     margin: auto;
     text-align: center;
     filter: grayscale(20%);
       
 }
 .why-section h2, .story-section h2{
    font-size: 1.75rem;
    line-height: 1.5;
    font-weight: 700;
    margin: 0;
    width: 100%;
    font-size: 35px;
 }
 .why-section p{
     font-size: 16px;
     color: #105c7d;
     padding-bottom: 30px;
 }
 .fe-box{
     height: 200px;
     width: 200px;
     padding: 30px;
    background-color: rgb(255, 255, 255,0.8);
     color: rgb(0, 0, 0);
     text-align: center;
     overflow: hidden;
     transition:  ease-in-out 0.5s;
     align-items: center;
     cursor: pointer;
     border-radius: 100px;
     margin: 10px;
     transition: all ease-in-out 100ms;
 }

 .why-section .col-md-3{
     width: auto;
     margin:auto;
    
 }
 .fe-box:hover{
    
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.685);
    color: white;
    transition: all ease-in-out 200ms;
 }
 .carousel{
     height: 200px;
 }
 .carousel-caption-slide{
     position: absolute;
     top: 10px;
     padding: 20px 80px;
     
 }
 .carousel-item img{
 filter: opacity(0%) !important;
 }
 /* ..............................story-section...................*/
 .story-section{
    background-image: url('../images/pexels-photo-853168.jpeg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top ;
     height: auto;
     background-color: rgb(53, 53, 53);
     text-align: center;
     padding-top:50px;
    
 }
 .story-box{
     height: 20vh;
     padding: 20px;
  
 }
 .story-box span{
     color: white;
     font-size: 30px;
 }
/*  .........................newsletter-section ........................*/
.newsletter-section{
    height: 70vh;
    background-image: url('../images/wb11.jpeg');
    background-size: cover;
    background-position: top;
    margin-bottom: 170px;
    text-align: center;
    padding-top: 15vh;
    padding-bottom: 15vh;
    color: white;

}
.newsletterInput{
    margin-top: 20px;
}
.newsletterInput input{
    padding: 6px 20px;
    width: auto;
    
  
}

    
.newsletter-section h2{
    font-size: 1.75rem;
line-height: 1.5;
font-weight: 700;
margin: 0;
width: 100%;
font-size: 35px;
}


 .des{
     width: 200px;
     height: 100px;
     background-color: white;
     filter: blur(2px);
 }


/*  ...... footer content here ......*/

footer{
    width: 100%;
    background-color: rgb(19, 20, 20);
   background-image: url('../images/OM6QN31.png');
    position: fixed;
    overflow: hidden;
    z-index: -12;
    bottom: 0px;
    border-top: 5px rgb(24, 24, 24) solid;
}

footer p{
    color:#9c9c9c;
}

footer a{
    color: #9c9c9c !important;
    font-size: 16px;
}
footer a:hover{
    color: white !important;
}
.footer-payment{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.footer-payment img{
    width: 100px;
}
.btnTop{
    position: fixed;
    right: 30px;
    bottom: 100px;
    
}
.modal{
    margin-top: 100px;
}
/*  ...... Bootstrap modification section ......*/

.navbar-brand{
    margin-right: 0px;
}
.list-group-item{
    padding: .4rem 1.25rem;
  }
  .bg-secondary ,.btn-primary{
    background-color: #105c7d !important;
    transition: all ease-in-out 700ms;
}
.display-4{
    font-weight: 450;
    font-size: 35px;
  }
  .row{
      margin: 0px;
  }
.card-img-top{
    height: 200px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    a{
        color: white;
        font-size: 15px;
        font-weight: 400;
    }
    
    .section-feature h1{
        font-size: 35px;
    }
    .section-feature h2{
        font-size: 30px;
        font-weight: 400 !important;
    }
    .feature{
        height: auto;
    }
    .newsletter-section{
        margin-bottom: 0px;
    }
    .about-section{
        padding-left: 0px;
    }
    .service-section{
        padding-top: 20px;
    }
        .service-header{
            padding-left: 0px;
        }
   
     .form-field{
        width: 80%;
        display: none;
        top: 150px;
        right: -400px;
        background-color: rgba(255, 255, 255);
        display: none;
        }
       

     .btn-slider{
         margin: auto;
         padding: 5px 10px;
         align-content: center;
     }
    footer{
        position: relative;
    }
 
    .blog-section{
        margin-bottom: 0px;
    }
    .container{
        padding-left: 0px;
        padding-right: 0px;
    }
    .col-9{
        max-width: 100%;
    }
    .formMobile{
        position: fixed;
        right: 0px;
        z-index: 10;
        opacity: 0.6;
        display: block;
    }
} 
@media only screen and (max-width: 786px) {
    .feature video{
        width: 1200px;
     }
}
